.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--modal-background-color);
}

.modal-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.modal .btn-confirm,
.modal .btn-cancel {
	padding: 8px 12px;
	width: 120px;
	text-align: center;
}
