.pagination {
  margin-top: 32px;
}

.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn-pagination {
  border-radius: var(--xs-border-radius);
  background-color: var(--primary-color);
  text-align: center;
}

.btn-pagination.current {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
