.toast {
	padding: 20px;
	position: fixed;
	max-width: 288px;
	right: 16px;
	bottom: 32px;
	border-radius: 20px;
}

.toast-container {
	display: flex;
	flex-direction: column;
}

.toast-message {
	font-size: 22px;
}

.toast-description {
	font-size: 20px;
}

.toast.success {
	background-color: #6ac83c;
}

@media (min-width: 576px) {
	.toast {
		max-width: 512px;
	}
}
