.book-action {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
}
.book-action .search,
.book-action .sort-and-create {
	display: flex;
	width: 100%;
	height: 100%;
}
.book-action .search {
	background-color: var(--input-background-color);
	border-radius: var(--rectangle-item-border-radius);
	padding: 12px 4px;
}

.book-action .search-box {
	background-color: var(--input-background-color);
}

.book-action .sort-and-create {
	align-items: center;
	justify-content: space-between;
}
.book-action .sort {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.book-action .btn-sort {
	background-color: transparent;
	font-family: Lato-Bold, sans-serif;
	font-size: var(--fs-sm);
}

.book-action .btn-create {
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100px;
	padding: 12px;
	display: flex;
}

@media (min-width: 576px) {
	.book-action .btn-create {
		width: 160px;
	}
}

@media (min-width: 992px) {
	.book-action {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.book-action .search {
		flex: 0 0 30%;
	}
	.book-action .sort {
		gap: 20px;
	}
	.book-action .btn-sort {
		font-size: var(--fs-md);
	}
}
