.book-list-wrapper {
	margin-top: 32px;
}
.book-list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
}

.book-item {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-color);
	border-radius: var(--card-item-border-radius);
	padding: 32px 16px;
	gap: 12px;
}

.book-primary-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.book-published-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.book-published-image-frame {
	width: 95px;
	height: 116px;
}
.book-published-image {
	width: 100%;
	height: 100%;
}

.view-details-btn {
	background-color: var(--secondary-color);
}
.delete-btn {
	background-color: var(--delete-color);
}
.book-item.loading {
	background-color: #f4f4f4;
}
.book-item.loading .book-primary-info {
	flex: 0 0 60%;
}
.book-item.loading .book-published-info {
	flex: 0 0 30%;
}
.book-item.loading .book-name,
.book-item.loading .book-description,
.book-item.loading .book-item-action-btn,
.book-item.loading .book-published-time,
.book-item.loading .book-published-image-frame,
.book-item.loading .btn {
	position: relative;
	overflow: hidden;
}
.book-item.loading .book-name::before,
.book-item.loading .book-description::before,
.book-item.loading .book-item-action-btn::before,
.book-item.loading .book-published-time::before,
.book-item.loading .book-published-image-frame::before,
.book-item.loading .btn::before {
	background-color: #ddd;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.book-item.loading .book-name::after,
.book-item.loading .book-description::after,
.book-item.loading .book-item-action-btn::after,
.book-item.loading .book-published-time::after,
.book-item.loading .book-published-image-frame::after,
.book-item.loading .btn::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, #ddd, #fff 50%, #ddd);
	animation: skeletonLoading 2s infinite alternate;
}
.book-item.loading .book-name,
.book-item.loading .book-published-time {
	width: 100%;
	height: 26px;
}
.book-item.loading .book-description {
	width: 100%;
	height: 48px;
}
.book-item.loading .btn {
	width: 48px;
	height: 48px;
}

@keyframes skeletonLoading {
	from {
		left: -50%;
	}
	to {
		left: 50%;
	}
}

@media (min-width: 768px) {
	.book-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 991px) {
	.book-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
