@use '../../abstracts';

.book-action {
	@include abstracts.flex-layout(column, flex-start, center, 16px);

	.search {
		@include abstracts.size(100%, 100%);
		@include abstracts.flex-layout();
		padding: 12px 4px;
		border-radius: abstracts.$rectangle-item-border-radius;
		background-color: abstracts.$input-background-color;

		&-box {
			flex: 1;
			background-color: abstracts.$input-background-color;
			@include abstracts.font('Lato-Regular', abstracts.$fs-sm);
		}

		@include abstracts.screen-size(992px) {
			@include abstracts.size(unset, unset);
			flex: 0 0 30%;
		}
	}

	.sort-and-create {
		@include abstracts.size(100%, 100%);
		@include abstracts.flex-layout(null, center, space-between);

		.sort {
			@include abstracts.flex-layout(null, center, center, 8px);

			&-btn {
				@include abstracts.font('Lato-Bold', abstracts.$fs-sm);
				background-color: transparent;

				@include abstracts.screen-size(768px) {
					@include abstracts.font('Lato-Bold', abstracts.$fs-md);
				}
			}

			@include abstracts.screen-size(992px) {
				gap: 20px;
			}
		}

		.create-btn {
			padding: 8px;
			@include abstracts.size(100px, null);
			@include abstracts.flex-layout(null, center, center, 8px);
			border-radius: abstracts.$rectangle-item-border-radius;
			background-color: abstracts.$secondary-color;

			&-text {
				@include abstracts.font('Lato-Bold', abstracts.$fs-sm, abstracts.$white-color);
			}
			@include abstracts.screen-size(576px) {
				width: 160px;
			}
			@include abstracts.screen-size(992px) {
				padding: 16px 0;
				gap: 16px;
			}
		}
	}

	@include abstracts.screen-size(992px) {
		@include abstracts.flex-layout(row, center, space-between);
	}
}
.book-list-wrapper {
	margin-top: 32px;

	.book-list {
		gap: 20px;

		.book-item {
			padding: 32px 16px;
			background-color: abstracts.$primary-color;
			border-radius: abstracts.$card-item-border-radius;
		}
	}

	.book-item {
		&.loading {
			background-color: #f4f4f4;

			.book-primary-info {
				flex: 0 0 60%;
			}

			.book-published-info {
				flex: 0 0 30%;
			}

			.book-name,
			.book-description,
			.book-item-action-btn,
			.book-published-time,
			.book-published-image-frame {
				position: relative;
				overflow: hidden;
			}

			.book-name::before,
			.book-description::before,
			.book-item-action-btn::before,
			.book-published-time::before,
			.book-published-image-frame::before {
				background-color: #dddddd;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			.book-name::after,
			.book-description::after,
			.book-item-action-btn::after,
			.book-published-time::after,
			.book-published-image-frame::after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
				animation: skeletonLoading 2s infinite alternate;
			}

			.book-name,
			.book-published-time {
				width: 100%;
				height: 26px;
			}
			.book-description {
				width: 100%;
				height: 48px;
			}
		}
	}

	.book-item {
		@include abstracts.flex-layout(null, null, space-between, 10px);
		// Primary Info
		.book-primary-info {
			@include abstracts.flex-layout(column, flex-start, space-between, 10px);
		}
		.book-name {
			display: -webkit-box;
			display: box;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			@include abstracts.font('Lato-Bold', abstracts.$fs-md);
		}
		.book-description {
			display: -webkit-box;
			display: box;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			@include abstracts.font('Lato-Regular', abstracts.$fs-sm);

			@include abstracts.screen-size(768px) {
				@include abstracts.font('Lato-Regular', abstracts.$fs-md);
			}
		}
		.book-item-action {
			@include abstracts.flex-layout(null, center, null, 10px);
		}
		.book-item-action-btn {
			margin-top: 10px;
			@include abstracts.size(48px, 48px);
			border-radius: abstracts.$square-button-border-radius;
			&.view-details {
				background-color: abstracts.$secondary-color;
			}
			&.delete {
				background-color: abstracts.$delete-color;
			}
		}
		// Publish Info
		.book-published-time {
			@include abstracts.font('Lato-Regular', abstracts.$fs-sm);

			@include abstracts.screen-size(768px) {
				@include abstracts.font('Lato-Regular', abstracts.$fs-md);
			}

			&.loading {
				width: 100%;
				height: 26px;
				background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
				animation: skeleton-loading 1s linear infinite alternate;
			}
		}
		.book-published-info {
			@include abstracts.flex-layout(column, center, null, 10px);

			&.loading {
				flex: 0 0 30%;
			}
		}
		.book-published-image-frame {
			@include abstracts.size(95px, 116px);
		}
		.book-published-image {
			@include abstracts.size(100%, 100%);
			border-radius: abstracts.$image-frame-border-radius;
		}
	}

	//Pagination
	.pagination {
		margin-top: 32px;

		&-list {
			@include abstracts.flex-layout(null, center, center, 16px);
		}

		&-button {
			@include abstracts.size(48px, 48px);
			background-color: abstracts.$primary-color;
			border-radius: abstracts.$square-button-border-radius;
			@include abstracts.font('Lato-Regular', abstracts.$fs-md);

			&.current {
				background-color: abstracts.$secondary-color;
				color: abstracts.$white-color;
			}
		}
	}

	@keyframes skeletonLoading {
		from {
			left: -50%;
		}
		to {
			left: 50%;
		}
	}
}
