* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

button,
input,
[tabindex] {
	border: none;
	outline: none;
}

button:disabled,
button[disabled] {
	pointer-events: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}
